:root {
    --mainTextColor: #ff4d5a;
    --mainHoverOpacity: 0.3;
    /* --transformPseudoBefore:   rotate(45deg) translate3d(0%, 400%, 0); */
    /* --transformPseudoAfter:   rotate(-45deg) translate3d(0%, -400%, 0); */
    --transformPseudoBefore: rotate(0) translate3d(0, 0, 0);
    --transformPseudoAfter:   rotate(0) translate3d(0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(#072142,#000000 60% );
}




.background__circles  {
    position: fixed;
    top: 10%;
    left: 58%;
   
}

.background__circles .circle {
    position: absolute;
    width: 85vh;
    height: 85vh;
    border-radius: 50%;
    background-color: rgba(255, 255, 255);
    opacity: 0.04;
    transition: transform .15s;
   
}

.background__circles .circle:nth-child(1) {
    transform: scale(1.3); 
}

.background__circles .circle:nth-child(2) {
    transform: scale(1.6);
}

.background__circles .circle:nth-child(3) {
    transform: scale(1.9);
}

.background__circles .circle:nth-child(4) {
    transform: scale(2.2);
}

.background__circles .circle:nth-child(5) {
    transform: scale(2.5);
}

.background__circles .circle:nth-child(6) {
    transform: scale(2.8);
}

.main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.big__navigation {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: end;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #072142, #8c2b7a 42%, #ff4d5a);
    z-index: 99;
    transform: translateY(-100%);
    transition: .4s  ease-out .2s;
    z-index: 9;

}

.big__navigation--slide {
    transform: translateY(0);
}

.big__navigation-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    list-style: none;
    font-size: 16vh;
    font-family:'Poppins' ;
    font-weight: 400;
    /* height: 100%; */
}

.big__navigation-item{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
}

.big__navigation-link{
    color: white;
    margin-bottom: -10px;
    text-decoration: none;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.295)
   
}

.big__navigation-link::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -5%;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.295);
    height: 7%;
    width: 0; 
    /* transform: translateY(-10%);   */
    cursor: pointer;
    transition: .4s;
   
}

.big__navigation-link:hover::after {
    width: 110%; 
}


.main__navigation {
  
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
    width: 100%;
    z-index: 99;
}

.main__navigation-list {
    display: flex;
    list-style: none;
    margin-top: 2%;
}

.main__navigation-item {
    position: relative;
    /* padding: 15px; */
    /* padding-top: 15px;
    padding-bottom: 5px; */
    cursor: pointer;
    transition: opacity .3s ;
   
}

.main__navigation-item:hover {
   opacity: var(--mainHoverOpacity);
}

.main__navigation-item:nth-child(1) {
    margin: 0 auto 0 2%;
    /* padding: 15px 0; */
}

.main__navigation-item:nth-child(3) {
    margin-left: 12px;
    margin-right: 50px;
    }

.main__navigation-item:nth-last-child(1) {
    display: flex;
    justify-content: center;
    margin-right: 2%;
    margin-left: 2%;
}
.main__navigation-item:nth-last-child(1):hover {
    opacity:1;
}

.main__navigation-link {
    display: block;
    font-size: 1.1rem;
    height: 100%;
    color: white;
    text-decoration: none;
  

}




.navigation-x-mark {
    position:relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 40px;
}

.navigation-x-mark::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transform: var(--transformPseudoBefore);
    transition: .4s;
}

.navigation-x-mark::after {
    content: '';
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transform: var(--transformPseudoAfter);
    transition: .4s;
}

.x-mark--rotate {
    transform: rotate(-45deg) translate3d(0, 50%, 0);
}

.navigation__mail-container  {
    display: inline-block;
    width: 0;
    font-weight: 300;
    font-size: 1rem;
    margin-left: 7px;
    /* margin-right: 7px; */
    /* margin: 0 17px; */
    font-family: 'Poppins';
    overflow: hidden;
    transition: .2s;
}

.navigation__phone-container  {
    display: inline-block;
    width: 0;
    height: 100%;
    font-weight: 300;
    font-size: 1rem;
    margin-left: 7px;
    /* margin: 0 17px; */
    font-family: 'Poppins';
    overflow: hidden;
    transition: .2s;
    white-space: nowrap;
}

/* .fa-mobile-screen-button {
    margin-right: 40px;
} */


.slide  {
 width: 128px;
}


.section {
    height: 100vh;
    width: 100vw;
}

.section__header {
    position: relative;
}

.section__blue {
    background-color: blue;
}

.section__green {
    background-color: green;
}

.header__moon-container {
    position: absolute;
    left: 58%;
    top: 10%;
}

.section__header .moon {
    position: relative;
    top: 0;
    left: 0;
    width: 85vh;
    height: 85vh;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    transform: rotate(15deg);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.679);
    animation: moonShine linear infinite 5s;

    transition: transform .15s;
    
}

.section__header .moon__shade {
    display: block;
   position: absolute;
   width: 85vh;
   height: 85vh;
}
.section__header .moon__shade svg {
    position: absolute;
    top: -19%;
    left: -18%;
    height: 115vh;
    width: 115vh;
    opacity: 0.7;

}


.section__header .moon__hole-big {
    position: absolute;
    top: 40%;
    left: -14%;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    background-color: rgba(242, 242, 242, 0.882);
    animation: bigHoleAnimation linear infinite 15s;
   
   
 
}

.section__header .moon__hole-small {
    position: absolute;
    top: 70%;
    left: 1%;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    background-color: rgba(242, 242, 242, 0.882);
    animation: smallHoleAnimation linear infinite 15s .3s;
    transform: translateX(745%) scale(.4) rotateY(60deg) skew(-35deg,0);
 
}

.section__header .header__h2-portfolio {
    position: absolute;
    top: 45%;
    left: 51%;
    font-size: 3.2rem;
    letter-spacing:0.6rem;
    text-shadow: 3px 4px 12px rgba(0, 0, 0, 0.247);
    color: var(--mainTextColor);
    font-weight: 800;
}

.section__header .header__title {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: white;

}
.section__header .header__title-h1 {
    font-size: 4rem;
    font-weight: 600;
    text-align: end;
    text-shadow: 0 0 10px #00000082;
}

.section__header .header__title-h1:nth-child(1) {
   
    letter-spacing: .13rem;
  
    margin-bottom: -2.3rem;
}


.section__header .header__title-h3 .wannabe {
    display: block;
    margin-top: -1.6rem;
    padding-right: 0.08rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--mainTextColor);
    text-align: end;
}

.section__header .red-line {
    display: block;
    position: absolute;
    bottom: 13%;
    left: 0;
    width: 67%;
    height: 0.08rem;
    background-color: var(--mainTextColor);

}

.section__header .clouds__container {
    position: absolute;
    width: 100%;
    height: 100%;

}


.section__header .cloud__vector {
    position: absolute; 
    top: 0;
    left: 0;
    width: 70vh;
    height: 70vh;
    z-index: 2;
    transition: transform .15s;
}

.section__header .cloud__vector:nth-child(1){
    top: -48%;
    left: 31%;
}

.section__header .cloud__vector:nth-child(2){
    top: -16%;
    left: -38%;
    z-index: -1;
}

.section__header .cloud__vector:nth-child(3){
       top: 0;
    left: 69%;
}

.section__header .cloud__vector:nth-child(4){
   top: 44%;
    left: -50%;
}

.section__header .cloud__vector:nth-child(5){
    top:56%;
    left: 39%;
}





@keyframes bigHoleAnimation {
   0%{
    transform: scale(.3) rotateY(-50deg) skew(4deg,0);
   }
   50%{
    transform: scale(1) translateX(222.5%)  rotateY(0deg) skew(0,0);
   }
   100% {
    transform: translateX(445%) scale(.4) rotateY(60deg) skew(-4deg,0);
 
   } 

}

@keyframes smallHoleAnimation {
    0%{
        transform: scale(.3) rotateY(-50deg) skew(22deg,0);
    }
    40%{
        transform: scale(1) translateX(372.5%)  rotateY(0deg) skew(0,0);
    }
    80% {
        transform: translateX(745%) scale(.4) rotateY(50deg) skew(-20deg,0);
  
    } 
    100% {
        transform: translateX(745%) scale(.4) rotateY(50deg) skew(-20deg,0);
  
    } 
 }
  
 @keyframes moonShine {
    10% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.679);
    }
    50% {
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.679);
    }
    100% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.679);
    }
 }

 
